PORT=3000
NODE_ENV=development

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=backendgym

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRATION=1d
